.example-container {
    width: 100%;
    height: 100%;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    width: 25%;
  }
  
  .Buttons {
    display: block;
    margin: 5%;
    padding-left: 39%;
}

p {
  padding-top: 2%;
  margin-right: 10%;
  padding-left: 8%;
  float: right;
}

mat-icon {
  font-size: 30px; 
  height: 50px ;
  width: 50px;
}

.container {
  margin-top: 15%;
}

.card-width {
  width: 55%;
  border-radius: 20px;
  padding: 10px;
}

.new-tweet {
  width: 80%;
  margin: 10px;
  margin-top: 6px;
}

.tweetButton {
  border-radius: 20px;
  right: 5%;
  bottom: 10px;
  position: relative;
}

.example-card {
  max-width: 400px;
  margin-left: 2%;
  border-radius: 20px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
